
<body>
<p><%- user.username %></p>
<div class="user-dashboard">
    <img src="<%= user.banner %>" id="Banner">
    <img src="<%= user.avatar %>" id="Avatar">
</div>
</body>
<style type="text/css">
:root {
  --bg-color: rgb(10, 10, 10);
  --text-color: rgb(143, 143, 143);
  --accent-color: rgb(47, 250, 28);
}
body{
    background-color: var(--bg-color);
}
.user-dashboard {
  position: fixed;
  top: 10;
  right: 10;
}
#Banner {
border-radius: 40px;
border: 1px solid rgba(255,255,255);
width: 150px;
height: auto;
object-fit: contain;
}
#Avatar {
border-radius: 80px;
border: 1px solid rgba(255,255,255);
width: 60px;
height: auto;
object-fit: contain;
}
</style>