<button id="discordOAuth" class="float-left submit-button" >Home</button>

<script type="text/javascript">
    document.getElementById("discordOAuth").onclick = function () {
     location.href = "http://localhost:3000/auth";
    };
</script>
